<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>
  <body>
    <h1>Automatic Voice controlled Web App</h1>
    <section class="main">
      <button type="button" name="button" class="agri_butt">Features</button>
      <!-- <button type="button" name="button">Animal Husbandry</button> -->
      <div class="agri">
        <button type="button" name="button" id ="pm_kisan" class="butt" onclick="location.href='/STTtranscribe';">Speech To text</button>
        <button type="button" name="button" id ="fertilizers" class="butt" onclick="location.href='/fertilizers';">Text To speech</button>
        <button type="button" name="button" id ="kisan_rath" class="butt" onclick="location.href='/kisanrath';">Form Filling</button>
        <button type="button" name="button" id ="crop_insurance" class="butt" onclick="location.href='/cropInsurance';">FAQ</button>
        <button type="button" name="button" id ="crop_insurance" class="butt" onclick="location.href='/cropInsurance';">DialogFlow Speech Intent Detection</button>
        <button type="button" name="button" id ="crop_insurance" class="butt" onclick="location.href='/cropInsurance';">DialogFlow Speech Intent Detection With TTS Output</button>
        <button type="button" name="button" id ="crop_insurance" class="butt" onclick="location.href='/cropInsurance';">Media Translation</button>
      </div>

      <!-- <div class="animal">
        <button type="button" name="button">Animal Husbandry</button>
      </div> -->
    </section>
    <script src="/js/main.js"></script>
  </body>
</html>